/* **********************************************
Basic mechanics
********************************************** */
body{
	background-color: #000;
	margin: 0;
}

iframe{
	width: 100%;
	height: 629px;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	font-size: 1.5em;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 27em;
	margin-top: -2.5em;
}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
#closed-captions{
	color: #FFFFFF;
}

/* **********************************************
VOICE TEXT STYLING
********************************************** */

/*Interragator*/
.voice1 {
	font-family: "Brenner Mono";
	font-style: italic;
	font-weight: 400;
	color: #c2c2c2
}

/*Officer K*/
.voice2 {
	font-family: "Brenner Sans";
	font-style: normal;
	font-weight: 600;
	letter-spacing: 2px;
	color: #fff1db;
}

/*Passerby*/
.voice3 {
	font-family: "Brenner Slab";
	font-style: italic;
	font-weight: 800;
	color: #940c0c;
}

/*Interragator (but more mean)*/
.voice4 {
	font-family: "Brenner Mono";
	font-style: normal;
	font-weight: 200;
	color: #e6e2d5;
}

.voice5{
	font-family: "Brenner Sans";
	font-style: italic;
	font-weight: 400;
	letter-spacing: 2px;
	color: #fff1db;
}

/* **********************************************
POSITIONING
********************************************** */
#content-container{
	display: grid;
	grid-template-columns: 0.5fr 1fr 0.5fr;
	grid-template-rows: 0.2fr 0.8fr 0.2fr 0.1fr;
	height: 99.5vh;
}

#video-placeholder{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
	z-index: 2;
}

#closed-captions{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	justify-self: center;
	align-self: start;
	z-index: 2;
}

#alarmBeepContainer{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 6;
	justify-self: center;
	align-self: center;
	width: 100%;
	height: 99.5vh;
}

#sirensContainer{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 6;
	overflow: hidden;
	justify-self: center;
	align-self: center;
	width: 100%;
	height: 99.5vh;
}

#soundTxtContainer{
	z-index: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	overflow: hidden;
	justify-self: center;
	align-self: center;
	/* height: 3em; */
}

#soundTxtContainer p {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: "Brenner Mono";
	font-style: normal;
	font-size: 1.8em;
	opacity: 0;
}

#animation-container{
	z-index: 1;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 6;
	overflow: hidden;
	justify-self: center;
	align-self: center;
}

#siren1Container{
	filter: blur(50px);
	opacity: 0;
	width: 100%;
	height: 100%;
}

#siren2Container{
	filter: blur(50px);
	opacity: 0;
	width: 100%;
	height: 100%;
	transform: translate(0px, -60em);
}

#siren3Container{
	filter: blur(50px);
	opacity: 0;
	width: 100%;
	height: 100%;
	transform: translate(0, -120.5em);
}

.p16{
	padding-top: 0.7em;
}

#closed-captions .p41{
	margin-top: -3.5em;
}

#closed-captions .p42{
	margin-top: -2.4em;
}

#closed-captions .p43{
	margin-top: -1.3em;
}

#closed-captions .p54{
	margin-top: -3em;
}

#closed-captions .p55{
	margin-top: -1em;
}

#closed-captions .p56{
	margin-top: -3em;
}

#closed-captions .p57{
	padding-top: 3.5em;
}

/* **********************************************
ANIMATIONS
*********************************************  */
@keyframes iframeTopRemoval{
	0%{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
	100%{
			clip-path: polygon(0 18.8%, 100% 18.8%, 100% 100%, 0% 100%);
	}
}


@keyframes soundTxtEaseInOut{
	0%{
		opacity: 0;
	}
	15%{
		opacity: 0.8;
	}
	85%{
		opacity: 0.8;
	}
	100%{
		opacity: 0;
	}
}

@keyframes sound2 {
	0% {
		background-color: #000;
	}
	15% {
		background-color: #000;
	}
	50% {
		background-color: #1B292B;
	}
	70% {
		background-color: #1B292B;
	}
	100% {
		background-color :#000;
	}
}

@keyframes sound3AlarmBeep {
0%{
	background-image: radial-gradient(
		ellipse at center,
		rgba(80, 12, 12, 0.4) 0%,
		rgba(80, 80, 80, 0) 20% );
	opacity: 0;
	}
60%{
	background-image: radial-gradient(
		ellipse at center,
		rgba(80, 12, 12, 0.9) 0%,
		rgba(80, 80, 80, 0) 80% );
	opacity: 1;
	}
100%{
	background-image: radial-gradient(
		ellipse at center,
		rgba(80, 12, 12, 0.4) 0%,
		rgba(80, 80, 80, 0) 40% );
	opacity: 0
	}
}

@keyframes sirenEaseInOut{
	0%{
		opacity: 0;
	}
	10%{
		opacity: 0.7;
	}
	50%{
		opacity: 1
	}
	90%{
		opacity: 0.7;
	}
	100%{
		opacity: 0;
	}
}

/*Bron voor voor visuele clippath value generator tool*/
@keyframes sirenMask{
	0%{
		clip-path: polygon(0 26%, 0 26%, 50% 50%, 0 76%, 0% 76%);
	}
	15%{
		clip-path: polygon(0 0, 18% 0, 50% 50%, 18% 100%, 0% 100%);
	}
	30%{
		clip-path: polygon(0% 0%, 40% 0, 50% 50%, 40% 100%, 0% 100%);
	}
	60%{
		clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 50% 50%);
	}
	85%{
		clip-path: polygon(72% 0, 100% 0, 100% 100%, 72% 100%, 50% 50%);
	}
	100%{
		clip-path: polygon(100% 26%, 100% 26%, 100% 76%, 100% 76%, 50% 50%);
	}
}

/*slowly increasing visability and downscaling for more intens texture*/
@keyframes sound10Texture {
	0%{
		opacity: 0;
		transform: scale(5);
	}
	64%{
		opacity: 0.09;
		transform: scale(5);
	}
	100%{
		opacity: 0.32;
		transform: scale(2);
	}
}

/*background color change*/
@keyframes sound10Color {
	0%{
		background-color :#000;
	}
	64%{
		background-color :#A7B29E;
	}
	100%{
		background-color :#FFFFFF;
	}
}

@keyframes sound10TxtColor {
	0%{
		opacity: 0;
	}
	20%{
		opacity: 0.2;
	}
	60%{
		opacity: 0.7;
	}
	99%{
		opacity: 0.4;
	}
	100%{
		opacity: 0;
	}
}

/*Nice fade-out of texture gif on class sound12*/
@keyframes sound12Texture {
	0%{
		opacity: 0.32;
	}
	100%{
		opacity: 0;
	}
}

/* The calmness you feel during "we're done" */
@keyframes sound12ColorChange {
	0%{
		background-color: #fff;
	}
	100%{
		background-color: #000;
	}
}


/* **********************************
GENERAL STYLING AND RECALL KEYFAME ANIAMTIONS
*********************************** */
.sound0 #video-placeholder{
		animation: iframeTopRemoval 1.2s ease-in-out forwards;
}

#closed-captions .p6{
	font-size: 1em;
	margin-top: -4.5em;
}

.sound2 {
	animation: sound2 1s linear;
	}

.sound2 #soundTxt1{
	color: rgba(90, 107, 109, 0.8);;
	font-weight: 800;
	animation: soundTxtEaseInOut 1s;
}

#alarmBeep{
	width: 100%;
	height: 100%;
}

/*Bron voor dubbele selectors: https://css-tricks.com/multiple-class-id-selectors/*/
.sound3 #alarmBeep{
	animation: sound3AlarmBeep 1.5s ease-in;
}

.sound3 #soundTxt2{
	color: rgba(80, 12, 12, 0.8);
	font-weight: 800;
	animation: soundTxtEaseInOut 1.5s;
}

#siren1Container{
	filter: blur(50px);
	opacity: 0;
	width: 100%;
	height: 100%;
}

#siren2Container{
	filter: blur(50px);
	opacity: 0;
	width: 100%;
	height: 100%;
}

#siren3Container{
	filter: blur(50px);
	opacity: 0;
	width: 100%;
	height: 100%;
}

#alarmSiren{
	background:
	radial-gradient(
		ellipse at center,
		rgba(173, 173, 173, 0.6) 0%,
		rgba(0, 0, 0, 0) 50%),
	radial-gradient(
		ellipse at center,
		rgba(197, 120, 165, 0.6) 0%,
		rgba(0, 0, 0, 0) 30%);
	width: 100%;
	height: 100%;
}

#alarmSiren2{
	background:
	radial-gradient(
		ellipse at center,
		rgba(173, 173, 173, 0.6) 0%,
		rgba(0, 0, 0, 0) 60%),
	radial-gradient(
		ellipse at center,
		rgba(197, 120, 165, 0.7) 0%,
		rgba(0, 0, 0, 0) 20%);
	width: 100%;
	height: 100%;
}

#alarmSiren3{
	background:
	radial-gradient(
		ellipse at center,
		rgba(173, 173, 173, 0.6) 0%,
		rgba(0, 0, 0, 0) 60%),
	radial-gradient(
		ellipse at center,
		rgba(197, 120, 165, 0.8) 0%,
		rgba(0, 0, 0, 0) 30%);
	width: 100%;
	height: 100%;
}

.sound5 #siren1Container{
	animation: sirenEaseInOut 0.8s ease-in-out;
}

.sound5 #alarmSiren{
	animation: sirenMask 0.8s linear;
	transform: scale(1.3);
}

.sound5 #soundTxt3{
	color: rgba(173, 173, 173, 0.8);
	mix-blend-mode: darken;
	font-weight: 400;
	animation: soundTxtEaseInOut 0.8s;
}

.sound7 #siren2Container{
	animation: sirenEaseInOut 0.8s ease-in-out;
}

.sound7 #alarmSiren2{
	animation: sirenMask 0.8s linear;
	transform: scale(1.4);
}

.sound7 #soundTxt4{
	color: rgba(173, 173, 173, 0.6);
	mix-blend-mode: darken;
	font-weight: 400;
	animation: soundTxtEaseInOut 0.8s;
}

.sound9 #siren3Container{
	animation: sirenEaseInOut 0.8s ease-in-out;
}

.sound9 #alarmSiren3{
	animation: sirenMask 0.8s linear;
	transform: scale(1.6);
}

.sound9 #soundTxt5{
	color: rgba(173, 173, 173, 0.6);
	mix-blend-mode: darken;
	font-weight: 400;
	animation: soundTxtEaseInOut 0.8s;
}


/*increasing high pitch*/
#gifAnimation{
	opacity: 0;
	width: 100%;
	height: 99.5vh;
	transform: scale(6);
}

.sound10{
animation: sound10Color 42s ease-in;
}

#soundTxt6{
	opacity: 0
}

.sound10 #soundTxt6{
	font-weight: 400;
	animation: sound10TxtColor 42s;
	color: #ad5353;
}

.sound10 #gifAnimation{
animation: sound10Texture 42s ease-in;
}

.sound12 #gifAnimation{
 animation: sound12Texture 0.2s ease-in-out;

}

.sound12{
 animation: sound12ColorChange 0.2s ease-in forwards ;
}
