/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	font-size: 1.5em;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 27em;
	margin-top: -2.5em;
}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
#closed-captions{
	color: #FFFFFF;
}


/* **********************************************
TEXT STYLING
********************************************** */

/*Interragator*/
.voice1 {
	font-family: "Brenner Mono";
	font-style: italic;
	font-weight: 400;
	color: #c2c2c2
}

/*Officer K*/
.voice2 {
	font-family: "Brenner Sans";
	font-style: normal;
	font-weight: 600;
	letter-spacing: 2px;
	color: #fff1db;
}

/*Passerby*/
.voice3 {
	font-family: "Brenner Slab";
	font-style: italic;
	font-weight: 800;
	color: #940c0c;
}

/*Interragator (but more mean)*/
.voice4 {
	font-family: "Brenner Mono";
	font-style: normal;
	font-weight: 200;
	color: #e6e2d5;
}

.voice5{
	font-family: "Brenner Sans";
	font-style: italic;
	font-weight: 400;
	letter-spacing: 2px;
	color: #fff1db;
}

.p0 span {
	opacity: 0;
}

.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s;
}

.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .4s;
}

.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .5s;
}

.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s .7s;
}

.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.1s;
}

.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.4s;
}

.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 1.7s;
}

.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 2s;
}

.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3s;
}

.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.2s;
}

.p0.on span:nth-of-type(12) {
	opacity: 1;
	transition: 0s 3.7s;
}

.p16{
	padding-top: 1.7em;
}

#closed-captions .p41{
	margin-top: -3em;
}

.p42{
	padding-top: 1.4em;
}

.p43{
	padding-top: 4em;
}

#closed-captions .p54{
	margin-top: -4em;
}

#closed-captions .p56{
	margin-top: -3em;
}

.p57{
	padding-top: 3.5em;
}

/* **********************************************
Sounds.
	You can style the whole body, or you can
	style anything within the body the moment
	a sound starts.
*********************************************  */
@keyframes sound2 {
	0% {
		background-color: #000;
	}
	15% {
		background-color: #000;
	}
	50% {
		background-color: #1B292B;
	}
	70% {
		background-color: #1B292B;
	}
	100% {
		background-color :#000;
	}
}

@keyframes sound3AlarmBeep {
0%{
	background-image: radial-gradient(
		ellipse at center,
		rgba(80, 12, 12, 0.5) 0%,
		rgba(80, 80, 80, 0) 20% );
	opacity: 0;
	}
15%{
	opacity: 1;
	}
50%{
		background-image: radial-gradient(
			ellipse at center,
			rgba(80, 12, 12, 0.5) 0%,
			rgba(80, 80, 80, 0) 60% );
		}
85%{
	background-image: radial-gradient(
		ellipse at center,
		rgba(80, 12, 12, 0.5) 0%,
		rgba(80, 80, 80, 0) 80% );
	opacity: 1;
	}
100%{
	opacity: 0
	}
}

@keyframes sirenEaseInOut{
	0%{
		opacity: 0;
	}
	10%{
		opacity: 0.7;
	}
	50%{
		opacity: 1
	}
	90%{
		opacity: 0.7;
	}
	100%{
		opacity: 0;
	}
}

@keyframes siren2EaseInOut{
	0%{
		opacity: 0;
	}
	10%{
		opacity: 0.7;
	}
	50%{
		opacity: 1
	}
	90%{
		opacity: 0.7;
	}
	100%{
		opacity: 0;
	}
}

@keyframes siren3EaseInOut{
	0%{
		opacity: 0;
	}
	10%{
		opacity: 0.7;
	}
	50%{
		opacity: 1
	}
	90%{
		opacity: 0.7;
	}
	100%{
		opacity: 0;
	}
}



/*Bron voor voor visuele clippath value generator tool*/
@keyframes sirenMask{
	0%{
		clip-path: polygon(0 26%, 0 26%, 50% 50%, 0 76%, 0% 76%);
	}
	15%{
		clip-path: polygon(0 0, 18% 0, 50% 50%, 18% 100%, 0% 100%);
	}
	30%{
		clip-path: polygon(0% 0%, 40% 0, 50% 50%, 40% 100%, 0% 100%);
	}
	60%{
		clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 50% 50%);
	}
	85%{
		clip-path: polygon(72% 0, 100% 0, 100% 100%, 72% 100%, 50% 50%);
	}
	100%{
		clip-path: polygon(100% 26%, 100% 26%, 100% 76%, 100% 76%, 50% 50%);
	}

}

@keyframes sirenMask2{
	0%{
		clip-path: polygon(0 26%, 0 26%, 50% 50%, 0 76%, 0% 76%);
	}
	15%{
		clip-path: polygon(0 0, 18% 0, 50% 50%, 18% 100%, 0% 100%);
	}
	30%{
		clip-path: polygon(0% 0%, 40% 0, 50% 50%, 40% 100%, 0% 100%);
	}
	60%{
		clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 50% 50%);
	}
	85%{
		clip-path: polygon(72% 0, 100% 0, 100% 100%, 72% 100%, 50% 50%);
	}
	100%{
		clip-path: polygon(100% 26%, 100% 26%, 100% 76%, 100% 76%, 50% 50%);
	}

}

@keyframes sirenMask3{
	0%{
		clip-path: polygon(0 26%, 0 26%, 50% 50%, 0 76%, 0% 76%);
	}
	15%{
		clip-path: polygon(0 0, 18% 0, 50% 50%, 18% 100%, 0% 100%);
	}
	30%{
		clip-path: polygon(0% 0%, 40% 0, 50% 50%, 40% 100%, 0% 100%);
	}
	60%{
		clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 50% 50%);
	}
	85%{
		clip-path: polygon(72% 0, 100% 0, 100% 100%, 72% 100%, 50% 50%);
	}
	100%{
		clip-path: polygon(100% 26%, 100% 26%, 100% 76%, 100% 76%, 50% 50%);
	}

}

@keyframes sound10Texture {
	0%{
		opacity: 0;
		transform: scale(5);
	}
	64%{
		opacity: 0.05;
		transform: scale(5);
	}
	100%{
		opacity: 0.3;
		transform: scale(2);
	}
}

/*background color change*/
@keyframes sound10Color {
	0%{
		background-color :#000;
	}
	64%{
		background-color :#A7B29E;
	}
	100%{
		background-color :#FFFFFF;
	}
}

@keyframes sound12Texture {
	0%{
		opacity: 0.3;
	}
	100%{
		opacity: 0;
	}
}

/* The calmness you feel during "we're done" */
@keyframes sound13 {
	0%{
		background-color: #fff;
	}
	100%{
		background-color: #000;
	}
}

.sound2 {
	animation: sound2 1s linear;
	}



/* **********************************
Custom styling
*********************************** */

body{
	background-color: #000;
	margin: 0;
}


#content-container{
	display: grid;
	grid-template-columns: 0.5fr 1fr 0.5fr;
	grid-template-rows: 0.2fr 2fr 0.2fr;
}

#video-placeholder{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	justify-self: center;
	align-self: center;
	z-index: 2;
}

#closed-captions{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	justify-self: center;
	align-self: start;
	margin-top: -6em;
	z-index: 2;
}

#animation-container{
	z-index: 1;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 4;
	overflow: hidden;
	justify-self: center;
	align-self: center;
}

iframe{
	width: 100%;
	height: 629px;
}

body .html5-video-player {
  background-color: #000;
}

#animation{
	opacity: 0;
	width: 100%;
	height: 99.5vh;
	transform: scale(6);
}

/*Bron voor dubbele selectors: https://css-tricks.com/multiple-class-id-selectors/*/

.sound10{
animation: sound10Color 42s ease-in;
}

.sound10 #animation{
animation: sound10Texture 42s ease-in;
}


.sound12 #animation{
 animation: sound12Texture 0.6s ease-out;
}

.sound12{
 background-color: #fff;
}

.sound13{
 animation: sound13 0.7s ease-out;
}

.sound14{
	background-color: #000;
}

#alarmBeep{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 4;
	justify-self: center;
	align-self: center;
	width: 100%;
	height: 99.5vh;
}

.sound3 #alarmBeep{
	animation: sound3AlarmBeep 1s ease;
}

#sirensContainer{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 4;
	overflow: hidden;
	justify-self: center;
	align-self: center;
	width: 100%;
	height: 99.5vh;
}

#siren1Container{
	filter: blur(50px);
	opacity: 0;
	width: 100%;
	height: 100%;
}

#siren2Container{
	filter: blur(50px);
	opacity: 0;
	width: 100%;
	height: 100%;
	transform: translate(0px, -60.5em);
}

#siren3Container{
	filter: blur(50px);
	opacity: 0;
	width: 100%;
	height: 100%;
	transform: translate(0, -120.5em);
}

#alarmSiren{
	background:
	radial-gradient(
		ellipse at center,
		rgba(173, 173, 173, 0.6) 0%,
		rgba(0, 0, 0, 0) 50%),
	radial-gradient(
		ellipse at center,
		rgba(197, 120, 165, 0.6) 0%,
		rgba(0, 0, 0, 0) 30%);
	width: 100%;
	height: 100%;
}

#alarmSiren2{
	background:
	radial-gradient(
		ellipse at center,
		rgba(173, 173, 173, 0.6) 0%,
		rgba(0, 0, 0, 0) 60%),
	radial-gradient(
		ellipse at center,
		rgba(197, 120, 165, 0.7) 0%,
		rgba(0, 0, 0, 0) 40%);
	width: 100%;
	height: 100%;
}

#alarmSiren3{
	background:
	radial-gradient(
		ellipse at center,
		rgba(173, 173, 173, 0.6) 0%,
		rgba(0, 0, 0, 0) 60%),
	radial-gradient(
		ellipse at center,
		rgba(197, 120, 165, 0.9) 0%,
		rgba(0, 0, 0, 0) 40%);
	width: 100%;
	height: 100%;
}

.sound5 #siren1Container{
	animation: sirenEaseInOut 0.8s ease-in-out;
}

.sound5 #alarmSiren{
	animation: sirenMask 0.8s linear;
	transform: scale(1.1);
}

.sound7 #siren2Container{
	animation: siren2EaseInOut 0.8s ease-in-out;
}

.sound7 #alarmSiren2{
	animation: sirenMask2 0.8s linear;
	transform: scale(1.5);
}

.sound9 #siren3Container{
	animation: siren3EaseInOut 0.8s ease-in-out;
}

.sound9 #alarmSiren3{
	animation: sirenMask3 0.8s linear;
	transform: scale(1.8);
}
